conpot/protocols/tftp/tftp.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tftp">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tftp_root_path" type="xs:string"/>
                <xs:element name="add_src" type="xs:string"/>
                <xs:element name="data_fs_subdir" type="xs:string"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="enabled" use="required"/>
            <xs:attribute type="xs:string" name="host" use="required"/>
            <xs:attribute type="xs:unsignedShort" name="port" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>