conpot/template.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="conpot_template">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="core">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="databus">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="key_value_mappings">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="key" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="value">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="protocols">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="kamstrup">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="config">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="communication_address"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="registers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="register" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="value"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="length" use="optional"/>
                              <xs:attribute type="xs:short" name="name" use="optional"/>
                              <xs:attribute type="xs:byte" name="units" use="optional"/>
                              <xs:attribute type="xs:byte" name="unknown" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="enabled"/>
                  <xs:attribute type="xs:string" name="host"/>
                  <xs:attribute type="xs:short" name="port"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="description"/>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>