conpot/protocols/ftp/ftp.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ftp">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device_info">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="DeviceType"/>
                            <xs:element type="xs:string" name="Path"/>
                            <xs:element type="xs:string" name="Banner"/>
                            <xs:element type="xs:unsignedShort" name="MaxLoginAttempts"/>
                            <xs:element type="xs:boolean" name="AnonymousLogin"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="vfs">

                </xs:element>
                <xs:element name="users">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="blocks">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="block"
                                                                maxOccurs="unbounded"
                                                                minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string"
                                                                            name="type"
                                                                            minOccurs="1"
                                                                            maxOccurs="1">
                                                                </xs:element>
                                                                <xs:element type="xs:int"
                                                                            name="starting_address"
                                                                            minOccurs="1"
                                                                            maxOccurs="1"/>
                                                                <xs:element type="xs:short"
                                                                            name="size"
                                                                            minOccurs="1"
                                                                            maxOccurs="1"/>
                                                                <xs:element type="xs:string"
                                                                            name="content"
                                                                            minOccurs="1"
                                                                            maxOccurs="1"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string"
                                                                          name="name"
                                                                          use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="id" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="anon_login"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>