conpot/protocols/ftp/ftp.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ftp">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device_info">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="DeviceType"/>
                            <xs:element type="xs:string" name="Path"/>
                            <xs:element type="xs:string" name="Banner"/>
                            <xs:element type="xs:unsignedShort" name="max_login_attempts"/>
                            <xs:element type="xs:boolean" name="anonymous_login"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>