conpot/tests/template_schemas/management.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="kamstrup_management">
        <xs:complexType>
            <xs:attribute type="xs:string" name="enabled" use="required"/>
            <xs:attribute type="xs:string" name="host" use="required"/>
            <xs:attribute type="xs:int" name="port" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
